.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/bower_components/
/external/
/node_modules/
/src/main/resources/static/css/
!/src/main/resources/static/css/own.css
/src/main/resources/static/js/
